#activity{
   a{
      color:$primary-color;
   }
   background-color: white;
   padding: 30px 30px 10px 30px;
   border: 1px solid $gray-light-2;

   .newSection{
      border-top: 3px solid #999;
   }

   #receiptInfo{
      th, td{
         border:none;
      }
   }

   & .activity-header{
      border-bottom: 1px solid $primary-color;
      padding-bottom:7px;
   }
}
