#docs{
   .configure{
      background-color: $gray-light;
      padding:25px 15px;
   }

   .requestMethod{
      color:$secondary-color;
      padding-right:25px;
   }

   .requestRoute{
      font-family: courier;
      font-size:1.25rem;
   }

   .routeTitle{
      font-size:1.25rem;
   }

   .code{
      white-space: pre-wrap;
      overflow:visible;
   }

   .sampleHeader{
      background-color: $secondary-color;
      padding:10px;
      color:white;
   }

}
