#sidenav{

   .active{
      background-color: lighten(desaturate($secondary-color,30%),20%);
      border-color:transparent;
   }

   .list-group-item{
       border-right: 2px solid $secondary-color !important;

       &:first-child{
          border-top-right-radius: 0;
          border-top-left-radius: 0;
       }

       &:last-child{
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
       }

       &:hover{
          background-color: lighten(desaturate($secondary-color,30%),20%);
          border-color:transparent;
          color: white;
       }

   }
}
