$primary-color: #E55812;
$primary-color-muted: desaturate($primary-color,10%);
$secondary-color: #5482B2;
$gray-light:#F0F0F0;
$gray-light-2:#DDDDDD;
$header-height:55px;
$background-color: white;
$footer-color: #3c4859;
