
@import 'variables';
@import 'generic';
@import 'docs';
@import 'notifications';
@import 'nav';
@import 'modal';
@import 'header';
@import 'home';
@import 'transaction';
@import 'activities';
@import 'links';
// @import 'settings';
@import 'create';
// @import 'verified';
@import 'apiKey';
@import 'account';
@import 'login';
@import 'footer';

body, html {
   height:100%;
   width:100%;
   background-color: white;
	font-family: Helvetica, Geneva, sans-serif !important;
}

input{
   border-radius:0 !important;
}
.primary-button{
   background-color:$primary-color;
}

.fix-width{
	min-width:1000px;
	max-width:1000px;
}

a {
   color:white;
}

#app{
   height:100%;
}

.page-header{
   font-size:2rem;
   font-weight:500;
   line-height:1.1;
   margin-bottom:25px;
}

.page-body{
   // padding-top: $header-height;
   height:100%;
}

.background-white{
	background-color:white;

}

.crunch-view{
   padding: $header-height 0 0 0;
   background-color: white;
}

.view{
   padding: calc(#{$header-height} + 35px) 0 100px 0;
   background-color: white;
}

.message{
   color:$secondary-color;
}
.receipt{
   color:$primary-color;
}

:focus{
   outline: none;
}

.color-primary{
   color: $primary-color;
}

.color-primary-muted{
	color:$primary-color-muted;
}

.color-secondary{
   color: $secondary-color;
}

.btn-app-primary{
   background-color: $primary-color;
   border:none;
   color:white;
   &:hover{
      background-color: desaturate($primary-color,40%);
   }
}

.btn-app-secondary{
   background-color: $secondary-color;
   border:none;
   color:white;
   &:hover{
      background-color: desaturate($secondary-color,40%);
   }
}

.border-bottom{
   border-bottom: 1px solid $gray-light-2;
}

.border-right{
   border-right: 1px solid $gray-light-2;
}

#auth{
   #authContainer{
      // height:500px;
      // width:300px;
   }
}
