
$primary-color: #00A08A;
$secondary-color: #FF6A00;
$gray-light:#F0F0F0;
$gray-light-2:#DDDDDD;
$header-height:60px;

@import 'generic';

body, html {
   height:100%;
   width:100%;
   background-color: $gray-light;
}
a{
   color:white;
}
#app{
   height:100%;
}

.page-body{
   padding-top: $header-height;
   height:100%;
}

.content{
   @media (min-width: 768px) {
      margin: 30px 0 0 15px;
   }
}
:focus{
   outline: none;
}

.color-primary{
   color: $primary-color;
}

.secondary-color{
   color: $secondary-color;
}

.btn-primary{
   background-color: $primary-color;
   border:none;
   &:hover{
      background-color: desaturate($primary-color,40%);
   }
}

.btn-secondary{
   background-color: $secondary-color;
   color:white;
   border:none;
   &:hover{
      background-color: desaturate($secondary-color,40%);
      color:white;
   }

}

.alert{
   margin:0;
}

.border-bottom{
   border-bottom: 1px solid $gray-light-2;
}

.border-right{
   border-right: 1px solid $gray-light-2;
}

#header{
   z-index: 99;
   position:fixed;
   top:0;
   left:0;
   height:$header-height;
   width:100%;
   border: none;
   background-color:$primary-color;
   -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
   -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);

   .headerMenu{
      line-height:$header-height;
      font-size:20px;
      color:white;

      .menuBody{
         margin-top:-15px;
      }
   }
}

#sidenav{

   .active{
      background-color: lighten(desaturate($secondary-color,30%),20%);
      border-color:transparent;
   }

   .list-group-item{
       border-right: 2px solid $secondary-color !important;

       &:first-child{
          border-top-right-radius: 0;
          border-top-left-radius: 0;
       }

       &:last-child{
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
       }

       &:hover{
          background-color: lighten(desaturate($secondary-color,30%),20%);
          border-color:transparent;
          color: white;
       }

   }
}

#links{
   .list-group-item{
       border-right: 2px solid $primary-color;
   }

}

#activities{
   .list-group-item{
      // border-right: 2px solid $primary-color;
      cursor: pointer;
      cursor: hand;
      border-radius:0;
      &:hover{
         background-color:$gray-light;
      }
   }
}

#activity{
   background-color: white;
   padding: 30px 30px 10px 30px;
   border: 1px solid $gray-light-2;

   .newSection{
      border-top: 3px solid #999;
   }

   #receiptInfo{
      th, td{
         border:none;
      }
   }

   & .activity-header{
      border-bottom: 1px solid $primary-color;
      padding-bottom:7px;
   }
}

#settings{
   background-color: white;
   padding: 30px 30px 30px 30px;
   border: 1px solid $gray-light-2;

   .light-border{
      border-top: 1px solid $gray-light-2;
      padding: 10px 0;
   }
}

#register{
   background-color: white;
   border: 1px solid $gray-light-2;
   #spreedly-number{
      height:20px;
   }
   #spreedly-cvv{
      height:20px;
   }
   .givenNameBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
   }
   .surNameBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
      border-left: 1px solid $gray-light-2;
   }
   .ccBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
   }
   .cvvBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
      border-right: 1px solid $gray-light-2;
   }
   .emailBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
      // border-right: 1px solid $gray-light-2;
   }
   .passwordBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
      border-left: 1px solid $gray-light-2;
   }
   .expBox{
      input{
         height:20px;
      }
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
   }
}

#help{
   background-color: white;
   padding: 30px 30px 30px 30px;
   border: 1px solid $gray-light-2;
}


#modal{
   .modal-content{
      padding:25px;
      border-radius: 0px;
      /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
      width:inherit;
      height:inherit;
      /* To center horizontally */
      margin: 0 auto;
      pointer-events: all;
   }

   .vertical-alignment-helper {
      display:table;
      height: 100%;
      width: 100%;
      pointer-events:none;
   }
   .vertical-align-center {
      display: table-cell;
      vertical-align: middle;
      pointer-events:none;
   }
}

#addLinks{
   background-color: white;
   border: 1px solid $gray-light-2;
   #spreedly-number{
      height:20px;
   }
   #spreedly-cvv{
      height:20px;
   }
   .givenNameBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
   }
   .surNameBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
      border-left: 1px solid $gray-light-2;
   }
   .ccBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
   }
   .cvvBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
      border-right: 1px solid $gray-light-2;
   }
   .expBox{
      input{
         height:20px;
      }
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
   }

}

#addCard{
   background-color: white;
   // border: 1px solid $gray-light-2;
   #spreedly-number{
      height:20px;
   }
   #spreedly-cvv{
      height:20px;
   }
   .givenNameBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
   }
   .surNameBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
      border-left: 1px solid $gray-light-2;
   }
   .ccBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
   }
   .cvvBox{
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
      border-right: 1px solid $gray-light-2;
   }
   .expBox{
      input{
         height:20px;
      }
      padding:15px;
      border-bottom: 1px solid $gray-light-2;
   }

}

#home{
   .panel{
      border-radius:0;
      padding:20px;
   }
}
